<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="fish" class="com.nsCorps.springAnnotation.bean.FishBean" lazy-init="true">
<property name="name" value="Shark"></property>
<property name="weight" value="152"></property>
<constructor-arg ref="water" />
</bean>
<bean id="water" class="com.nsCorps.springAnnotation.bean.WaterBean" >

</bean>

<context:component-scan base-package="com.nsCorps.springAnnotation" />
</beans>